{% extends 'base.html' %}

{% block content %}
<article id="content">
	<div class="wrap">
		<div class="box">
			<div>
				<h2 class="letter_spacing">Log in <span>Form</span></h2>
				
				<div id="contact_form" style="color: rgb(15, 146, 37);">	
					<form name="form1" id="ff" method="POST">
						{% csrf_token %}
						{{ form.as_p }}
						<button type="submit" class="button1">login</button>
					</form>
					<p class="text-center">If you don't have an account, <a href="{% url 'add_customer'%}">Sign Up</a> instead.</p>
					<p class="text-center">If you are manager and you don't have an account, Click <a href="{% url 'add_manager'%}">Here</a> to Sign Up.</p>
				</div>
			</div>
		</div>
	</div>
</article>
{% endblock content %}