{% extends 'base.html' %}
{% block content %}

<div class="card-group text-dark">
  <div class="card">
    <h3 class="card-img-top" >title:{{object.address}} </h3>
    <div class="card-body">
  <figure><img src="{{objects.branch_menus.food.food_image.url}}" alt="" ></figure>
      <p class="card-text">price:{{restaurantbranch.price}}</p>
      <h5>number:{{restaurantbranch.number_menu}}</h5>
      
    </div>
    <div class="card-footer">
      <small class="text-muted">date:{{task.due_date}}</small>
    </div>
  </div> 
</div>

{% endblock content %}
