<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Document</title>
{% load static %}
<link rel="stylesheet" href="{% static 'css/reset.css'%}" type="text/css" media="all">
<link rel="stylesheet" href="{% static 'css/layout.css'%}" type="text/css" media="all">
<link rel="stylesheet" href="{% static 'css/style.css'%}" type="text/css" media="all">
<link rel="stylesheet" href="{% static 'css/zerogrid.css'%}" type="text/css" media="all">
<link rel="stylesheet" href="{% static 'css/responsive.css'%}" type="text/css" media="all"> 
<link rel="stylesheet" href="{% static 'css/contactform.css'%}" type="text/css" media="all">
<link rel="stylesheet" href="{% static 'stylee.css'%}" type="text/css" media="all">

</head>
<body id="page5">
<div class="body6">
	<div class="body1">
		<div class="main zerogrid">
			<header>
				<nav class='col-12'>
					<ul id="menu" class='col-sm-7'>
						{% if user.is_authenticated %}
						<li class="active"><a style="font-size:15px;" href="{% url 'account_logout' %}">LogOut</a></li>
						<li class="active"><a style="font-size:15px;" href="{%url 'home'%}">Home</a></li>
						{% else %}
						<li class="active"><a style="font-size:15px;" href="{%url 'add_to_cart'%}">Cart</a></li>
						<li class="active"><a style="font-size:15px;" href="{% url 'account_login' %}">LogIn</a></li>
						<li class="active"><a style="font-size:15px;" href="{%url 'add_manager'%}">Managers SignUp</a></li>
						<li class="active"><a style="font-size:15px;" href="{% url 'add_customer' %}">Customers SignUp</a></li>
						<!-- <li class="active"><a style="font-size:15px;" href="#">Restaurants</a></li> -->
						{% endif %}
						{% block nav %}{% endblock nav %}
					</ul>
					<div class="w-10 text-center">
						<form id="search-form" autocomplete='off' style="margin-top: 10px;">
						 {% csrf_token %}
						 <input type="text" id='search-input' class='p-1 w-50 search' placeholder="search">
						</form> 
						<div id="result-box" class="result-card not-visible" style="width: 50%;max-height:none;"></div>
					</div>
				</nav>
			</header>
			
			<main>
				{% block content %}
				{% endblock content %}
			</main>
				
				<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
				<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
				<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
				<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
				<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
				<script type="text/javascript" src={% static "main.js" %}></script>
				<main>{% block js %}{% endblock js %}</main>
				{% block script %}{% endblock script %}
				<script>
jQuery(document).ready(function($){
window.onload = function (){

const url=  window.location.href
const searchForm = document.getElementById("search-form")
const searchInput = document.getElementById("search-input")
const resultBox = document.getElementById('result-box')

const csrf = document.getElementsByName('csrfmiddlewaretoken')[0].value
console.log(url)
console.log(searchForm)
console.log(searchInput)
console.log(resultBox)
const sendSearchData = (data)=>{
    $.ajax({
        type:'POST',
        url: "{% url 'search' %}",
        data :{
            'csrfmiddlewaretoken':csrf,
            'data': data,
        },
        success: function(res){
            console.log(res.dataa)
            const data = res.dataa
            if (Array.isArray(data)){
                resultBox.innerHTML = ''
                data.forEach(food=>{
                    resultBox.innerHTML += 
                    
                    ` <a href="${url}${food.pk}" class='item' >
                            <div class ="row" style="margin-left:10px">
                                <div class ="col-2>
                                    <p class="text-muted" >
										<img src="${food.food.img}" class="food-img">
										 <b style="color:black">${food.food.food_name}</b>
										 <b style="color:#17a2b8"> ${food.menu.branch_name}</b>
										  <b style="color:#6610f2">${food.price} ${food.menu.category}</b></p>
                                </div>
                            </div>
                        </a>`
                    
                })


            }else{
                if (searchInput.value.length > 0){
                    resultBox.innerHTML=`<b>${data}</b>`
                }else{
                    resultBox.classList.add('not-visible')
                }
            }
       
        },
        error: function(error){
            console.log(error)
        }
    })
}


// load whatever is added in search input as value (letter by letter)
searchInput.addEventListener('keyup', e=>{
    console.log(e.target.value)
    if (resultBox.classList.contains('not-visible')){
        resultBox.classList.remove('not-visible')
    }
    sendSearchData(e.target.value)
})
 
  
}});
				</script>
</body>
</html>